<tr>
  <td><%= link_to task.id, task_path(task) %></td>
  <td><b><%= task.name %></b></td>
  <td><%= task.content %></td>
  <td><%= task.status %></td>
  <td><%= task.author.name %></td>
  <td><%= task.date_due %></td>

  <td class='visble-lg hidden-xs'>
    <%= link_to t('.show', :default => t("helpers.links.show")),
    task_path(task), :class => 'btn btn-default btn-xs' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_task_path(task), :class => 'btn btn-default btn-xs' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    task_path(task),
    :method => :delete,
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-xs btn-danger' %>
  </td>
</tr>
